<div class="container-fluid text-center">
  <h1>今の気分じゃないのは？</h1>
  <p id="choice">
    <button class="btn btn-primary btn-lg">
      肉
    </button>
    <button class="btn btn-primary btn-lg">
      魚
    </button>
    <button class="btn btn-primary btn-lg">
      野菜
    </button>
  </p>
  <%= link_to "次へ", :action => "explore" %>
  </button>
</div>
